.navbar-brand .img {
    width: 30px;
    height: 30px;
}

.part1 .span {
    color:#F47E20;
}

.part1 .row .col .h4 {
    font-size: 20px;

}

.container {
    margin-top: 20px;
}



.part2 {
    margin-top: 100px;
}

#part1 {
    margin-top: 0px;
}

.card {
    margin-top: 30px;
    margin-bottom: 50px;
    transition: 0.5s;
}

.card :hover{

    background-color: #055C46;
    color: #f5f3f2;
    transition: 0.5s;
}

.a .card :hover{

    background-color: #055C46;
    color: #f5f3f2;
    /* transition: 0.5s; */
}

.h5 .col {
    margin-top: 100px;
}


.h5 .card-body {
    font-weight: bold;
    color: #F47E20;
}

.a .card {
    color: #F47E20;
}

#part3 {
    margin-top: 0px;
    background-color: #F0FAF7;
    width:100%;
    height: 700px;
}

.col .part3 {
    margin-top: 40px;
}

#part2 {
    margin-top: 70px;
    width:100%;
    height: 700px;

}

.h4 .part2 {
    margin-top: 300px;
}


.h5 .part3 {
    margin-top: 100px;

}

